Assignment_1/dataset/scenarios_nodered/flow3.json
[
    {
        "id": "58afe47d866ae0dc",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "178183bf39f4ecb6",
        "type": "openhab2-in2",
        "z": "58afe47d866ae0dc",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "open_close_door_frient",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "53977cf337ad037f"
            ]
        ]
    },
    {
        "id": "b204b7c0e82f2870",
        "type": "openhab2-in2",
        "z": "58afe47d866ae0dc",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Philips_Hue_Motion_sensor_Occupancy",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 380,
        "y": 600,
        "wires": [
            [
                "489d0b80af4e9451"
            ]
        ]
    },
    {
        "id": "53977cf337ad037f",
        "type": "switch",
        "z": "58afe47d866ae0dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPEN",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "e4d3400441883da9"
            ]
        ]
    },
    {
        "id": "e4d3400441883da9",
        "type": "function",
        "z": "58afe47d866ae0dc",
        "name": "SET OPEN",
        "func": "//let doorStatus = flow.get('doorStatus');\n\n\n//if (doorStatus != 'OPEN') {\n//    flow.set('doorStatus', 'OPEN');\n//    msg.payload = flow.get('doorStatus');\n//}\n\n\n//return msg;\n\n\nflow.set('doorStatus', 'OPEN');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 400,
        "wires": [
            [
                "99dc86aad209be70"
            ]
        ]
    },
    {
        "id": "489d0b80af4e9451",
        "type": "switch",
        "z": "58afe47d866ae0dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "263133de9f576806"
            ],
            [
                "411cf2b3cff38a6b"
            ]
        ]
    },
    {
        "id": "263133de9f576806",
        "type": "function",
        "z": "58afe47d866ae0dc",
        "name": "CHECK OPEN",
        "func": "let doorStatus = flow.get('doorStatus');\nif (doorStatus == 'OPEN') {\n    msg.payload = \"ON\";\n}\nelse {\n    msg.payload = \"OFF\";\n}\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 540,
        "wires": [
            [
                "8bc3236ab88162b4"
            ]
        ]
    },
    {
        "id": "b7cc77aa60380f3f",
        "type": "function",
        "z": "58afe47d866ae0dc",
        "name": "SET CLOSED",
        "func": "//let doorStatus = flow.get('doorStatus');\n\n\n//if (doorStatus != 'CLOSED') {\n//    flow.set('doorStatus', 'CLOSED');\n//    msg.payload = flow.get('doorStatus');\n//}\n\n\n\n//return msg;\n\nflow.set('doorStatus', 'CLOSED');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "99dc86aad209be70",
        "type": "trigger",
        "z": "58afe47d866ae0dc",
        "name": "",
        "op1": "",
        "op2": "CLOSED",
        "op1type": "nul",
        "op2type": "str",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 890,
        "y": 400,
        "wires": [
            [
                "75771efd84a545cb"
            ]
        ]
    },
    {
        "id": "75771efd84a545cb",
        "type": "switch",
        "z": "58afe47d866ae0dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CLOSED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "b7cc77aa60380f3f"
            ]
        ]
    },
    {
        "id": "8bc3236ab88162b4",
        "type": "switch",
        "z": "58afe47d866ae0dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "f213c1773325e98c"
            ],
            [
                "25143ef77e73e586"
            ]
        ]
    },
    {
        "id": "f213c1773325e98c",
        "type": "openhab2-out2",
        "z": "58afe47d866ae0dc",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "100",
        "onlywhenchanged": false,
        "x": 1250,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "411cf2b3cff38a6b",
        "type": "openhab2-out2",
        "z": "58afe47d866ae0dc",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "0",
        "onlywhenchanged": false,
        "x": 890,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "25143ef77e73e586",
        "type": "openhab2-out2",
        "z": "58afe47d866ae0dc",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "20",
        "onlywhenchanged": false,
        "x": 1250,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e5f24da0f755af",
        "type": "openhab2-controller2",
        "name": "test",
        "protocol": "http",
        "host": "141.43.202.211",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3",
        "token": "oh.test.K5iNTRmwEzkL7n02FaEluuj9FiYSHGJfcizVJ9X9DLt3NCcElBvl6fGYnNu1aDWw2i6EQsKlBkXtoADNq3A"
    }
]