Assignment_1/dataset/scenarios_nodered/flow5.json
[
    {
        "id": "4c2970d36f35627f",
        "type": "tab",
        "label": "Flow 5",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b164ab7e0877e61e",
        "type": "openhab2-in2",
        "z": "4c2970d36f35627f",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Philips_Hue_Motion_sensor_Occupancy",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "112010ebcc4112c2"
            ]
        ]
    },
    {
        "id": "ef004f51d51f390e",
        "type": "openhab2-in2",
        "z": "4c2970d36f35627f",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "philips_outdoor_motion_sensor_Occupancy",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "e663f7a3eb27f08b"
            ]
        ]
    },
    {
        "id": "112010ebcc4112c2",
        "type": "switch",
        "z": "4c2970d36f35627f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "2253aee0380e1209"
            ],
            [
                "f4898a6e6086be33"
            ]
        ]
    },
    {
        "id": "2fa5892500c7d629",
        "type": "join",
        "z": "4c2970d36f35627f",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "5",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 850,
        "y": 420,
        "wires": [
            [
                "76aca6f71ccb9b2e"
            ]
        ]
    },
    {
        "id": "e663f7a3eb27f08b",
        "type": "switch",
        "z": "4c2970d36f35627f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "9c3e8fdf3a7c1e9b"
            ],
            [
                "cd1c66a497ba2c80"
            ]
        ]
    },
    {
        "id": "2253aee0380e1209",
        "type": "change",
        "z": "4c2970d36f35627f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 220,
        "wires": [
            [
                "2fa5892500c7d629"
            ]
        ]
    },
    {
        "id": "9c3e8fdf3a7c1e9b",
        "type": "change",
        "z": "4c2970d36f35627f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 620,
        "wires": [
            [
                "2fa5892500c7d629"
            ]
        ]
    },
    {
        "id": "76aca6f71ccb9b2e",
        "type": "function",
        "z": "4c2970d36f35627f",
        "name": "function 5",
        "func": "if (msg.payload.sensor1 === \"ON\" && msg.payload.sensor2 === \"ON\") {\n    msg.payload = 'ON';\n} else {\n    msg.payload = 'OFF';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "38601c7acda3eb4c"
            ]
        ]
    },
    {
        "id": "38601c7acda3eb4c",
        "type": "switch",
        "z": "4c2970d36f35627f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 420,
        "wires": [
            [
                "e0c42dc53d5516ab",
                "59bda607b692dad4"
            ],
            [
                "c092bd1e903bf3b2",
                "0ecfd3b77efdc2d7"
            ]
        ]
    },
    {
        "id": "e0c42dc53d5516ab",
        "type": "openhab2-out2",
        "z": "4c2970d36f35627f",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light",
        "topic": "ItemCommand",
        "payload": "ON",
        "onlywhenchanged": false,
        "x": 1450,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c092bd1e903bf3b2",
        "type": "openhab2-out2",
        "z": "4c2970d36f35627f",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light",
        "topic": "ItemCommand",
        "payload": "OFF",
        "onlywhenchanged": false,
        "x": 1470,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "cd1c66a497ba2c80",
        "type": "change",
        "z": "4c2970d36f35627f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 680,
        "wires": [
            [
                "2fa5892500c7d629"
            ]
        ]
    },
    {
        "id": "f4898a6e6086be33",
        "type": "change",
        "z": "4c2970d36f35627f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "2fa5892500c7d629"
            ]
        ]
    },
    {
        "id": "59bda607b692dad4",
        "type": "openhab2-out2",
        "z": "4c2970d36f35627f",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "ON",
        "onlywhenchanged": false,
        "x": 1470,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0ecfd3b77efdc2d7",
        "type": "openhab2-out2",
        "z": "4c2970d36f35627f",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "OFF",
        "onlywhenchanged": false,
        "x": 1470,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e5f24da0f755af",
        "type": "openhab2-controller2",
        "name": "test",
        "protocol": "http",
        "host": "141.43.202.211",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3",
        "token": "oh.test.K5iNTRmwEzkL7n02FaEluuj9FiYSHGJfcizVJ9X9DLt3NCcElBvl6fGYnNu1aDWw2i6EQsKlBkXtoADNq3A"
    }
]