Assignment_1/dataset/scenarios_nodered/flow6.json
[
    {
        "id": "e0a019b3827815e2",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "989b780d8c27d11b",
        "type": "openhab2-in2",
        "z": "e0a019b3827815e2",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Nedis_DoorWindow_Contact",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "4857f03af0296478"
            ]
        ]
    },
    {
        "id": "da3c20ae57b7e5b1",
        "type": "openhab2-in2",
        "z": "e0a019b3827815e2",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "open_close_door_frient",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "a22c4283ceacb650"
            ]
        ]
    },
    {
        "id": "4857f03af0296478",
        "type": "switch",
        "z": "e0a019b3827815e2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPEN",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLOSED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "753c9de6cf92da5a"
            ],
            [
                "109bee9e8e44a702"
            ]
        ]
    },
    {
        "id": "9f8cfbc812e924ce",
        "type": "join",
        "z": "e0a019b3827815e2",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "10",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 340,
        "wires": [
            [
                "7adc144a23fa9909"
            ]
        ]
    },
    {
        "id": "a22c4283ceacb650",
        "type": "switch",
        "z": "e0a019b3827815e2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPEN",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLOSED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "94f2def738ebcf1e"
            ],
            [
                "2224965707ebbe3b"
            ]
        ]
    },
    {
        "id": "753c9de6cf92da5a",
        "type": "change",
        "z": "e0a019b3827815e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 140,
        "wires": [
            [
                "9f8cfbc812e924ce"
            ]
        ]
    },
    {
        "id": "94f2def738ebcf1e",
        "type": "change",
        "z": "e0a019b3827815e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 540,
        "wires": [
            [
                "9f8cfbc812e924ce"
            ]
        ]
    },
    {
        "id": "7adc144a23fa9909",
        "type": "function",
        "z": "e0a019b3827815e2",
        "name": "function 6",
        "func": "if (msg.payload.sensor1 === \"OPEN\" && msg.payload.sensor2 === \"OPEN\") {\n    msg.payload = '1';\n} else if (msg.payload.sensor1 === \"OPEN\" && msg.payload.sensor2 === \"CLOSED\"){\n    msg.payload = '2';\n} else if (msg.payload.sensor1 === \"CLOSED\" && msg.payload.sensor2 === \"OPEN\") {\n    msg.payload = '3';\n} else {\n    msg.payload = '4';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 340,
        "wires": [
            [
                "db419ce620dd0a0f"
            ]
        ]
    },
    {
        "id": "2224965707ebbe3b",
        "type": "change",
        "z": "e0a019b3827815e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 600,
        "wires": [
            [
                "9f8cfbc812e924ce"
            ]
        ]
    },
    {
        "id": "109bee9e8e44a702",
        "type": "change",
        "z": "e0a019b3827815e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "9f8cfbc812e924ce"
            ]
        ]
    },
    {
        "id": "db419ce620dd0a0f",
        "type": "switch",
        "z": "e0a019b3827815e2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1150,
        "y": 340,
        "wires": [
            [
                "c930d85397074315",
                "c3a68ed8852368d6"
            ],
            [
                "04e0043d972c914f",
                "2becdf8901e35780"
            ],
            [
                "2a73788eb96996fe",
                "d9f5966a5bf3ef14"
            ],
            [
                "d51078dbcf86ef2d",
                "5e937752d344d161"
            ]
        ]
    },
    {
        "id": "c930d85397074315",
        "type": "openhab2-out2",
        "z": "e0a019b3827815e2",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light",
        "topic": "ItemCommand",
        "payload": "ON",
        "onlywhenchanged": false,
        "x": 1490,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c3a68ed8852368d6",
        "type": "openhab2-out2",
        "z": "e0a019b3827815e2",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "ON",
        "onlywhenchanged": false,
        "x": 1500,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "04e0043d972c914f",
        "type": "openhab2-out2",
        "z": "e0a019b3827815e2",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light",
        "topic": "ItemCommand",
        "payload": "ON",
        "onlywhenchanged": false,
        "x": 1510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2becdf8901e35780",
        "type": "openhab2-out2",
        "z": "e0a019b3827815e2",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "OFF",
        "onlywhenchanged": false,
        "x": 1520,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2a73788eb96996fe",
        "type": "openhab2-out2",
        "z": "e0a019b3827815e2",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light",
        "topic": "ItemCommand",
        "payload": "OFF",
        "onlywhenchanged": false,
        "x": 1510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d9f5966a5bf3ef14",
        "type": "openhab2-out2",
        "z": "e0a019b3827815e2",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "ON",
        "onlywhenchanged": false,
        "x": 1520,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d51078dbcf86ef2d",
        "type": "openhab2-out2",
        "z": "e0a019b3827815e2",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light",
        "topic": "ItemCommand",
        "payload": "OFF",
        "onlywhenchanged": false,
        "x": 1510,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "5e937752d344d161",
        "type": "openhab2-out2",
        "z": "e0a019b3827815e2",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "OFF",
        "onlywhenchanged": false,
        "x": 1520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e5f24da0f755af",
        "type": "openhab2-controller2",
        "name": "test",
        "protocol": "http",
        "host": "141.43.202.211",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3",
        "token": "oh.test.K5iNTRmwEzkL7n02FaEluuj9FiYSHGJfcizVJ9X9DLt3NCcElBvl6fGYnNu1aDWw2i6EQsKlBkXtoADNq3A"
    }
]