Assisgnmet_1/dataset/scenarios_nodered/flow1.json
[
    {
        "id": "22efb018ea1ac907",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "419a91585403cef7",
        "type": "openhab2-in2",
        "z": "22efb018ea1ac907",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Nedis_DoorWindow_Contact",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "9de8024b966d2352"
            ]
        ]
    },
    {
        "id": "9de8024b966d2352",
        "type": "switch",
        "z": "22efb018ea1ac907",
        "name": "switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPEN",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLOSED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "d972517c2023371e",
                "d9c43fd4849c5c2e",
                "f8b892e219e58729",
                "5777450245d663cd"
            ],
            [
                "85804e1156378038",
                "50a46ae7d66dfdb8",
                "3b13c0b392efd942"
            ]
        ]
    },
    {
        "id": "6f472fe544012422",
        "type": "delay",
        "z": "22efb018ea1ac907",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 980,
        "y": 240,
        "wires": [
            [
                "0fda033c0b50344c"
            ]
        ]
    },
    {
        "id": "f6260e79c41ee256",
        "type": "openhab2-out2",
        "z": "22efb018ea1ac907",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "20",
        "onlywhenchanged": false,
        "x": 1550,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d972517c2023371e",
        "type": "openhab2-out2",
        "z": "22efb018ea1ac907",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "100",
        "onlywhenchanged": false,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "6f472fe544012422"
            ]
        ]
    },
    {
        "id": "85804e1156378038",
        "type": "openhab2-out2",
        "z": "22efb018ea1ac907",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "0",
        "onlywhenchanged": false,
        "x": 910,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "31a708cb34ba2851",
        "type": "openhab2-out2",
        "z": "22efb018ea1ac907",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Dimmer",
        "topic": "ItemCommand",
        "payload": "20",
        "onlywhenchanged": false,
        "x": 1260,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "50a46ae7d66dfdb8",
        "type": "openhab2-out2",
        "z": "22efb018ea1ac907",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Dimmer",
        "topic": "ItemCommand",
        "payload": "0",
        "onlywhenchanged": false,
        "x": 820,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f88c498fe6615a88",
        "type": "switch",
        "z": "22efb018ea1ac907",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "31a708cb34ba2851"
            ]
        ]
    },
    {
        "id": "d9c43fd4849c5c2e",
        "type": "delay",
        "z": "22efb018ea1ac907",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 360,
        "wires": [
            [
                "85804e1156378038",
                "50a46ae7d66dfdb8"
            ]
        ]
    },
    {
        "id": "3b13c0b392efd942",
        "type": "function",
        "z": "22efb018ea1ac907",
        "name": "SET CLOSED",
        "func": "\nflow.set('doorStatus', 'CLOSED');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f8b892e219e58729",
        "type": "function",
        "z": "22efb018ea1ac907",
        "name": "SET OPEN",
        "func": "\nflow.set('doorStatus', 'OPEN');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6659e411fe4aa432",
        "type": "function",
        "z": "22efb018ea1ac907",
        "name": "CHECK OPEN",
        "func": "let doorStatus = flow.get('doorStatus');\nif (doorStatus == 'OPEN') {  \n    msg.payload = \"ON\";\n}\nelse {\n    msg.payload = \"OFF\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 160,
        "wires": [
            [
                "f88c498fe6615a88"
            ]
        ]
    },
    {
        "id": "0fda033c0b50344c",
        "type": "function",
        "z": "22efb018ea1ac907",
        "name": "CHECK OPEN",
        "func": "let doorStatus = flow.get('doorStatus');\nif (doorStatus == 'OPEN') {  \n    msg.payload = \"ON\";\n}\nelse {\n    msg.payload = \"OFF\";\n}\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "b99799427ebbd884"
            ]
        ]
    },
    {
        "id": "b99799427ebbd884",
        "type": "switch",
        "z": "22efb018ea1ac907",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1330,
        "y": 240,
        "wires": [
            [
                "f6260e79c41ee256"
            ]
        ]
    },
    {
        "id": "5777450245d663cd",
        "type": "delay",
        "z": "22efb018ea1ac907",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 160,
        "wires": [
            [
                "6659e411fe4aa432"
            ]
        ]
    },
    {
        "id": "d6e5f24da0f755af",
        "type": "openhab2-controller2",
        "name": "test",
        "protocol": "http",
        "host": "141.43.202.211",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3",
        "token": "oh.test.K5iNTRmwEzkL7n02FaEluuj9FiYSHGJfcizVJ9X9DLt3NCcElBvl6fGYnNu1aDWw2i6EQsKlBkXtoADNq3A"
    }
]