Assisgnmet_1/dataset/scenarios_nodered/flow2.json
[
    {
        "id": "0a1d9dbb520cd70d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "dc66cbe90a444198",
        "type": "openhab2-in2",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Water_Leak_Sensor_Water_Alarm",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "0f49a8dc53804ae8"
            ]
        ]
    },
    {
        "id": "0f49a8dc53804ae8",
        "type": "switch",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "c8132ace6fcef84d",
                "dce2151537a55868"
            ],
            [
                "ed8378a6b2f2f07b",
                "62bf6bdc43afa6bf"
            ]
        ]
    },
    {
        "id": "c8132ace6fcef84d",
        "type": "openhab2-out2",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "OFF",
        "onlywhenchanged": false,
        "x": 840,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ed8378a6b2f2f07b",
        "type": "openhab2-out2",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "ON",
        "onlywhenchanged": false,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "fda97217493cb84f"
            ]
        ]
    },
    {
        "id": "fda97217493cb84f",
        "type": "delay",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 360,
        "wires": [
            [
                "906d16dbebb69a6c"
            ]
        ]
    },
    {
        "id": "906d16dbebb69a6c",
        "type": "openhab2-out2",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "OFF",
        "onlywhenchanged": false,
        "x": 1100,
        "y": 360,
        "wires": [
            [
                "9b98974f29f486ed"
            ]
        ]
    },
    {
        "id": "9b98974f29f486ed",
        "type": "delay",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "30dbcf3e499f0199"
            ]
        ]
    },
    {
        "id": "30dbcf3e499f0199",
        "type": "openhab2-out2",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "ON",
        "onlywhenchanged": false,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "435873d9df565c0e"
            ]
        ]
    },
    {
        "id": "435873d9df565c0e",
        "type": "delay",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 850,
        "y": 460,
        "wires": [
            [
                "77f6b6c24b326cd9"
            ]
        ]
    },
    {
        "id": "77f6b6c24b326cd9",
        "type": "openhab2-out2",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Switch",
        "topic": "ItemCommand",
        "payload": "OFF",
        "onlywhenchanged": false,
        "x": 1090,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "62bf6bdc43afa6bf",
        "type": "function",
        "z": "0a1d9dbb520cd70d",
        "name": "function 3",
        "func": "let leakStartTime = flow.get('leakStartTime');\n\n\nif (!leakStartTime) {\n    leakStartTime = Date.now();\n    flow.set('leakStartTime', leakStartTime);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "dce2151537a55868",
        "type": "function",
        "z": "0a1d9dbb520cd70d",
        "name": "function 4",
        "func": "let leakStartTime = flow.get('leakStartTime');\nif (leakStartTime) {\n    let leakDuration = (Date.now() - leakStartTime) / 1000; // Duration in seconds\n    if (leakDuration >= 5) {\n        msg.payload = \"ON\";\n    }\n    else{\n        msg.payload = \"OFF\";\n    }\n    flow.set('leakStartTime', null); \n    return msg;\n}\n\n \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 120,
        "wires": [
            [
                "f365538fd41017a9"
            ]
        ]
    },
    {
        "id": "f365538fd41017a9",
        "type": "switch",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 120,
        "wires": [
            [
                "6197ebb503b2e42e"
            ]
        ]
    },
    {
        "id": "6197ebb503b2e42e",
        "type": "openhab2-out2",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "100",
        "onlywhenchanged": false,
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "02482d0894159cc9"
            ]
        ]
    },
    {
        "id": "02482d0894159cc9",
        "type": "delay",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1280,
        "y": 120,
        "wires": [
            [
                "1c6aae477f6a23a3"
            ]
        ]
    },
    {
        "id": "1c6aae477f6a23a3",
        "type": "openhab2-out2",
        "z": "0a1d9dbb520cd70d",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "0",
        "onlywhenchanged": false,
        "x": 1510,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e5f24da0f755af",
        "type": "openhab2-controller2",
        "name": "test",
        "protocol": "http",
        "host": "141.43.202.211",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3",
        "token": "oh.test.K5iNTRmwEzkL7n02FaEluuj9FiYSHGJfcizVJ9X9DLt3NCcElBvl6fGYnNu1aDWw2i6EQsKlBkXtoADNq3A"
    }
]