Assisgnmet_1/dataset/scenarios_nodered/flow4.json
[
    {
        "id": "3f0267bb7fe19833",
        "type": "tab",
        "label": "Flow 4",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "9cbd0cf2582aa42f",
        "type": "switch",
        "z": "3f0267bb7fe19833",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "16a1d12ae3a5be0d",
                "12fd7a1c3cafdfed"
            ],
            [
                "31522ca43da244fd",
                "2fa0936b6b8569e1"
            ]
        ]
    },
    {
        "id": "245d34d2d876eafa",
        "type": "openhab2-out2",
        "z": "3f0267bb7fe19833",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "20",
        "onlywhenchanged": false,
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "85880384d8cee0d4"
            ]
        ]
    },
    {
        "id": "9b13c217094e974c",
        "type": "openhab2-in2",
        "z": "3f0267bb7fe19833",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Philips_Hue_Motion_sensor_Occupancy",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 240,
        "y": 460,
        "wires": [
            [
                "9cbd0cf2582aa42f"
            ]
        ]
    },
    {
        "id": "31522ca43da244fd",
        "type": "openhab2-out2",
        "z": "3f0267bb7fe19833",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "100",
        "onlywhenchanged": false,
        "x": 910,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "16a1d12ae3a5be0d",
        "type": "trigger",
        "z": "3f0267bb7fe19833",
        "name": "",
        "op1": "",
        "op2": "OFF",
        "op1type": "nul",
        "op2type": "str",
        "duration": "20",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "245d34d2d876eafa"
            ]
        ]
    },
    {
        "id": "2fa0936b6b8569e1",
        "type": "delay",
        "z": "3f0267bb7fe19833",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 580,
        "wires": [
            [
                "ba099bb68809e34d"
            ]
        ]
    },
    {
        "id": "ba099bb68809e34d",
        "type": "openhab2-out2",
        "z": "3f0267bb7fe19833",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Dimmer",
        "topic": "ItemCommand",
        "payload": "100",
        "onlywhenchanged": false,
        "x": 1020,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "12fd7a1c3cafdfed",
        "type": "trigger",
        "z": "3f0267bb7fe19833",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "23",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "c89c464c8a231b0e"
            ]
        ]
    },
    {
        "id": "c89c464c8a231b0e",
        "type": "openhab2-out2",
        "z": "3f0267bb7fe19833",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Dimmer",
        "topic": "ItemCommand",
        "payload": "20",
        "onlywhenchanged": false,
        "x": 1020,
        "y": 280,
        "wires": [
            [
                "98ea41c3649af714"
            ]
        ]
    },
    {
        "id": "98ea41c3649af714",
        "type": "delay",
        "z": "3f0267bb7fe19833",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1260,
        "y": 280,
        "wires": [
            [
                "4b96e14e1df2983a"
            ]
        ]
    },
    {
        "id": "85880384d8cee0d4",
        "type": "delay",
        "z": "3f0267bb7fe19833",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1280,
        "y": 380,
        "wires": [
            [
                "aecc187fa6245019"
            ]
        ]
    },
    {
        "id": "4b96e14e1df2983a",
        "type": "openhab2-out2",
        "z": "3f0267bb7fe19833",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Osram_Smart_light_Dimmer",
        "topic": "ItemCommand",
        "payload": "0",
        "onlywhenchanged": false,
        "x": 1520,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "aecc187fa6245019",
        "type": "openhab2-out2",
        "z": "3f0267bb7fe19833",
        "name": "",
        "controller": "d6e5f24da0f755af",
        "itemname": "Ledvance_Smart_Light_Dimmer",
        "topic": "ItemCommand",
        "payload": "0",
        "onlywhenchanged": false,
        "x": 1510,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e5f24da0f755af",
        "type": "openhab2-controller2",
        "name": "test",
        "protocol": "http",
        "host": "141.43.202.211",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3",
        "token": "oh.test.K5iNTRmwEzkL7n02FaEluuj9FiYSHGJfcizVJ9X9DLt3NCcElBvl6fGYnNu1aDWw2i6EQsKlBkXtoADNq3A"
    }
]